## Full Frame Filtering

In [17]:
import pandas as pd
import re

In [18]:
from xo.filters import SNPFilter

In [19]:
f = SNPFilter()

In [20]:
f.load_data('../peaks.csv')

In [21]:
f._snps.head()

,SNP,Sample,chromosome,position,base_geno,hmm_state1,hmm_state2,reference,ref_reads,variant,var_reads,chrom_id,blk_id
0,67168,BSP-OR-001,3,31010,unknown,N2,unknown,G,0,A,0,BSP-OR-001-3,0
1,67169,BSP-OR-001,3,31025,unknown,N2,unknown,C,0,T,0,BSP-OR-001-3,0
2,67170,BSP-OR-001,3,31030,N2,N2,N2,T,8,G,0,BSP-OR-001-3,0
3,67171,BSP-OR-001,3,31031,unknown,N2,N2,C,0,T,0,BSP-OR-001-3,0
4,67172,BSP-OR-001,3,31036,unknown,N2,N2,A,0,G,0,BSP-OR-001-3,0

In [22]:
f.has_chromosome_block('BSP-OR-001-4')

True

In [23]:
blocks, summary = f.apply('BSP-OR-001-4')

In [24]:
blocks.get_group(0)

,SNP,Sample,chromosome,position,base_geno,hmm_state1,hmm_state2,reference,ref_reads,variant,var_reads,chrom_id,blk_id
1976,93067,BSP-OR-001,4,1997145,unknown,N2,unknown,T,0,A,0,BSP-OR-001-4,0
1977,93068,BSP-OR-001,4,1997147,unknown,N2,unknown,T,0,C,0,BSP-OR-001-4,0
1978,93069,BSP-OR-001,4,1997149,unknown,N2,unknown,T,0,A,0,BSP-OR-001-4,0
1979,93070,BSP-OR-001,4,1997234,N2,N2,N2,G,6,A,0,BSP-OR-001-4,0
1980,93071,BSP-OR-001,4,1997248,N2,N2,N2,T,8,A,0,BSP-OR-001-4,0
1981,93072,BSP-OR-001,4,1997259,N2,N2,N2,T,8,C,0,BSP-OR-001-4,0
1982,93073,BSP-OR-001,4,1997302,N2,N2,N2,C,9,T,0,BSP-OR-001-4,0
1983,93074,BSP-OR-001,4,1997340,N2,N2,N2,C,7,T,0,BSP-OR-001-4,0
1984,93075,BSP-OR-001,4,1997474,unknown,N2,N2,T,0,A,0,BSP-OR-001-4,0
1985,93076,BSP-OR-001,4,1997495,unknown,N2,N2,T,0,C,0,BSP-OR-001-4,0
1986,93077,BSP-OR-001,4,1997522,unknown,N2,N2,C,0,A,0,BSP-OR-001-4,0
1987,93078,BSP-OR-001,4,1997524,unknown,N2,N2,G,0,T,0,BSP-OR-001-4,0
1988,93079,BSP-OR-001,4,1997526,unknown,N2,N2,T,0,C,0,BSP-OR-001-4,0
1989,93080,BSP-OR-001,4,1997527,unknown,N2,N2,A,0,C,0,BSP-OR-001-4,0
1990,93081,BSP-OR-001,4,1997535,unknown,N2,N2,A,0,G,0,BSP-OR-001-4,0
1991,93082,BSP-OR-001,4,1997553,uN2,N2,N2,A,1,G,0,BSP-OR-001-4,0
1992,93083,BSP-OR-001,4,1997557,unknown,N2,N2,C,0,T,0,BSP-OR-001-4,0
1993,93084,BSP-OR-001,4,1997564,unknown,N2,unknown,C,0,T,0,BSP-OR-001-4,0
1994,93085,BSP-OR-001,4,1997566,unknown,N2,unknown,G,0,T,0,BSP-OR-001-4,0

In [25]:
summary.head()

        blk_size  blk_len    blk_loc
blk_id
0             19      421  2996138.5
1             13       74  3235632.5
3             31     1609  4043192.5
4             17     2945  4812611.0
5             18     1874  5912202.5

In [26]:
summary.iloc[0].blk_size

np.float64(19.0)

In [27]:
f.set_length((1,1000))
f.set_size((5,20))

In [28]:
blocks, summary = f.apply('BSP-OR-001-4')

In [29]:
summary

        blk_size  blk_len     blk_loc
blk_id
0             19      421   2996138.5
1             13       74   3235632.5
12            17      338  20278904.0

In [35]:
for r in summary.iterrows():
    print(r[0], r[1].blk_size)

0 19.0
1 13.0
12 17.0

In [9]:
blocks.get_group(0)

,SNP,Sample,chromosome,position,base_geno,hmm_state1,hmm_state2,reference,ref_reads,variant,var_reads,chrom_id,blk_id
1976,93067,BSP-OR-001,4,1997145,unknown,N2,unknown,T,0,A,0,BSP-OR-001-4,0
1977,93068,BSP-OR-001,4,1997147,unknown,N2,unknown,T,0,C,0,BSP-OR-001-4,0
1978,93069,BSP-OR-001,4,1997149,unknown,N2,unknown,T,0,A,0,BSP-OR-001-4,0
1979,93070,BSP-OR-001,4,1997234,N2,N2,N2,G,6,A,0,BSP-OR-001-4,0
1980,93071,BSP-OR-001,4,1997248,N2,N2,N2,T,8,A,0,BSP-OR-001-4,0
1981,93072,BSP-OR-001,4,1997259,N2,N2,N2,T,8,C,0,BSP-OR-001-4,0
1982,93073,BSP-OR-001,4,1997302,N2,N2,N2,C,9,T,0,BSP-OR-001-4,0
1983,93074,BSP-OR-001,4,1997340,N2,N2,N2,C,7,T,0,BSP-OR-001-4,0
1984,93075,BSP-OR-001,4,1997474,unknown,N2,N2,T,0,A,0,BSP-OR-001-4,0
1985,93076,BSP-OR-001,4,1997495,unknown,N2,N2,T,0,C,0,BSP-OR-001-4,0
1986,93077,BSP-OR-001,4,1997522,unknown,N2,N2,C,0,A,0,BSP-OR-001-4,0
1987,93078,BSP-OR-001,4,1997524,unknown,N2,N2,G,0,T,0,BSP-OR-001-4,0
1988,93079,BSP-OR-001,4,1997526,unknown,N2,N2,T,0,C,0,BSP-OR-001-4,0
1989,93080,BSP-OR-001,4,1997527,unknown,N2,N2,A,0,C,0,BSP-OR-001-4,0
1990,93081,BSP-OR-001,4,1997535,unknown,N2,N2,A,0,G,0,BSP-OR-001-4,0
1991,93082,BSP-OR-001,4,1997553,uN2,N2,N2,A,1,G,0,BSP-OR-001-4,0
1992,93083,BSP-OR-001,4,1997557,unknown,N2,N2,C,0,T,0,BSP-OR-001-4,0
1993,93084,BSP-OR-001,4,1997564,unknown,N2,unknown,C,0,T,0,BSP-OR-001-4,0
1994,93085,BSP-OR-001,4,1997566,unknown,N2,unknown,G,0,T,0,BSP-OR-001-4,0

In [11]:
summary

        blk_size  blk_len     blk_loc
blk_id
0             19      421   2996138.5
1             13       74   3235632.5
2            112    17342   3874281.5
3             31     1609   4043192.5
4             17     2945   4812611.0
5             18     1874   5912202.5
6            159     3384   5920371.0
7             45      627   5937859.5
8             48     2241   9429895.5
9            300    61838  10068374.0
10            14     6429  10022697.0
11            20     6219  11395560.0
12            17      338  20278904.0
13            24     6931  21319430.5
14            52      714  21824065.5

### Worksheet

Cells used to test code that eventually found its way to the filter module

In [5]:
flat = f._snps

In [6]:
flat.iloc[0].chrom_id

'BSP-OR-001-3'

In [7]:
re.search(r'BSP-OR-001-3.*', flat.iloc[0].chrom_id)

In [8]:
flat.chrom_id.map(lambda s: bool(re.match(r'BSP-OR-001-3', s)))

0           True
1           True
2           True
3           True
4           True
           ...
6446436    False
6446437    False
6446438    False
6446439    False
6446440    False
Name: chrom_id, Length: 6446441, dtype: bool

In [9]:
flat[flat.chrom_id.map(lambda s: bool(re.match(r'BSP-OR-001-3', s)))]

,SNP,Sample,chromosome,position,base_geno,hmm_state1,hmm_state2,reference,ref_reads,variant,var_reads,chrom_id,blk_id
0,67168,BSP-OR-001,3,31010,unknown,N2,unknown,G,0,A,0,BSP-OR-001-3,0
1,67169,BSP-OR-001,3,31025,unknown,N2,unknown,C,0,T,0,BSP-OR-001-3,0
2,67170,BSP-OR-001,3,31030,N2,N2,N2,T,8,G,0,BSP-OR-001-3,0
3,67171,BSP-OR-001,3,31031,unknown,N2,N2,C,0,T,0,BSP-OR-001-3,0
4,67172,BSP-OR-001,3,31036,unknown,N2,N2,A,0,G,0,BSP-OR-001-3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1971,89961,BSP-OR-001,3,13116770,unknown,N2,N2,A,0,T,0,BSP-OR-001-3,26
1972,89962,BSP-OR-001,3,13117192,unknown,N2,N2,A,0,C,0,BSP-OR-001-3,26
1973,89963,BSP-OR-001,3,13117748,N2,N2,N2,A,14,G,3,BSP-OR-001-3,26
1974,89964,BSP-OR-001,3,13119171,N2,N2,N2,G,11,T,7,BSP-OR-001-3,26
1975,89965,BSP-OR-001,3,13120066,unknown,N2,N2,C,0,T,0,BSP-OR-001-3,26

In [10]:
groups = flat.groupby(['chrom_id','blk_id'])

In [11]:
groups.size()

chrom_id      blk_id
BSP-OR-001-3  0         17
              1         15
              2         23
              3         90
              4         49
                        ..
BSP-SR-309-5  80        31
              81        16
              82        15
              83        64
              84        20
Length: 76975, dtype: int64

In [12]:
(groups.size() >= 10) & (groups.size() <= 20)

chrom_id      blk_id
BSP-OR-001-3  0          True
              1          True
              2         False
              3         False
              4         False
                        ...
BSP-SR-309-5  80        False
              81         True
              82         True
              83        False
              84         True
Length: 76975, dtype: bool

In [13]:
groups.max('position') - groups.min('position')

                     SNP  chromosome  position  ref_reads  var_reads
chrom_id     blk_id
BSP-OR-001-3 0        16           0       175          8          0
             1        14           0      3189          9          0
             2        22           0       519         16          0
             3        89           0      3117         24          8
             4        48           0      1271         13          7
...                  ...         ...       ...        ...        ...
BSP-SR-309-5 80       30           0       500         24          0
             81       15           0       202         82          0
             82       14           0       343         29          0
             83       63           0      1204         69          0
             84       19           0       519         23          0

[76975 rows x 5 columns]

In [14]:
lengths = (groups.max('position') - groups.min('position')).position

In [15]:
lengths

chrom_id      blk_id
BSP-OR-001-3  0          175
              1         3189
              2          519
              3         3117
              4         1271
                        ...
BSP-SR-309-5  80         500
              81         202
              82         343
              83        1204
              84         519
Name: position, Length: 76975, dtype: int64

In [16]:
lengths > 1000

chrom_id      blk_id
BSP-OR-001-3  0         False
              1          True
              2         False
              3          True
              4          True
                        ...
BSP-SR-309-5  80        False
              81        False
              82        False
              83         True
              84        False
Name: position, Length: 76975, dtype: bool

In [17]:
groups.get_group(('BSP-OR-001-3',0))

,SNP,Sample,chromosome,position,base_geno,hmm_state1,hmm_state2,reference,ref_reads,variant,var_reads,chrom_id,blk_id
0,67168,BSP-OR-001,3,31010,unknown,N2,unknown,G,0,A,0,BSP-OR-001-3,0
1,67169,BSP-OR-001,3,31025,unknown,N2,unknown,C,0,T,0,BSP-OR-001-3,0
2,67170,BSP-OR-001,3,31030,N2,N2,N2,T,8,G,0,BSP-OR-001-3,0
3,67171,BSP-OR-001,3,31031,unknown,N2,N2,C,0,T,0,BSP-OR-001-3,0
4,67172,BSP-OR-001,3,31036,unknown,N2,N2,A,0,G,0,BSP-OR-001-3,0
5,67173,BSP-OR-001,3,31039,unknown,N2,N2,A,0,T,0,BSP-OR-001-3,0
6,67174,BSP-OR-001,3,31055,unknown,N2,N2,A,0,T,0,BSP-OR-001-3,0
7,67175,BSP-OR-001,3,31059,unknown,N2,N2,T,0,A,0,BSP-OR-001-3,0
8,67176,BSP-OR-001,3,31065,N2,N2,N2,A,8,T,0,BSP-OR-001-3,0
9,67177,BSP-OR-001,3,31070,N2,N2,N2,C,8,T,0,BSP-OR-001-3,0
10,67178,BSP-OR-001,3,31074,unknown,N2,unknown,C,0,T,0,BSP-OR-001-3,0
11,67179,BSP-OR-001,3,31127,unknown,N2,unknown,G,0,C,0,BSP-OR-001-3,0
12,67180,BSP-OR-001,3,31135,unknown,N2,unknown,T,0,A,0,BSP-OR-001-3,0
13,67181,BSP-OR-001,3,31141,unknown,N2,unknown,C,0,T,0,BSP-OR-001-3,0
14,67182,BSP-OR-001,3,31180,unknown,N2,unknown,C,0,T,0,BSP-OR-001-3,0
15,67183,BSP-OR-001,3,31181,unknown,N2,unknown,T,0,C,0,BSP-OR-001-3,0
16,67184,BSP-OR-001,3,31185,unknown,N2,unknown,G,0,A,0,BSP-OR-001-3,0

In [18]:
groups.max('position')

                        SNP  chromosome  position  ref_reads  var_reads
chrom_id     blk_id
BSP-OR-001-3 0        67184           3     31185          8          0
             1        67518           3     58891          9          0
             2        67667           3     68747         16          0
             3        67924           3     81820         24          8
             4        68109           3     89768         13          7
...                     ...         ...       ...        ...        ...
BSP-SR-309-5 80      190387           5  20159657         24          0
             81      191354           5  20221557         82          0
             82      191895           5  20243954         29          0
             83      192372           5  20258993         69          0
             84      194449           5  20613413         23          0

[76975 rows x 5 columns]

In [19]:
groups.min('position').position.rename('start')

chrom_id      blk_id
BSP-OR-001-3  0            31010
              1            55702
              2            68228
              3            78703
              4            88497
                          ...
BSP-SR-309-5  80        20159157
              81        20221355
              82        20243611
              83        20257789
              84        20612894
Name: start, Length: 76975, dtype: int64

In [20]:
pd.concat([
    groups.min('position').position.rename('start'), 
    groups.max('position').position.rename('end'), 
    groups.size().rename('count')], 
    axis=1
)

                        start       end  count
chrom_id     blk_id
BSP-OR-001-3 0          31010     31185     17
             1          55702     58891     15
             2          68228     68747     23
             3          78703     81820     90
             4          88497     89768     49
...                       ...       ...    ...
BSP-SR-309-5 80      20159157  20159657     31
             81      20221355  20221557     16
             82      20243611  20243954     15
             83      20257789  20258993     64
             84      20612894  20613413     20

[76975 rows x 3 columns]

In [21]:
data = pd.concat(
    [
        groups.size().rename('blk_size'), 
        (groups.max('position') - groups.min('position')).position.rename('blk_len'), 
        (groups.max('position') + groups.min('position')/2).position.rename('blk_loc'), 
    ],
    axis=1
)

In [22]:
data

                     blk_size  blk_len     blk_loc
chrom_id     blk_id
BSP-OR-001-3 0             17      175     46690.0
             1             15     3189     86742.0
             2             23      519    102861.0
             3             90     3117    121171.5
             4             49     1271    134016.5
...                       ...      ...         ...
BSP-SR-309-5 80            31      500  30239235.5
             81            16      202  30332234.5
             82            15      343  30365759.5
             83            64     1204  30387887.5
             84            20      519  30919860.0

[76975 rows x 3 columns]

In [23]:
data[data.blk_size > 25]

                     blk_size  blk_len     blk_loc
chrom_id     blk_id
BSP-OR-001-3 3             90     3117    121171.5
             4             49     1271    134016.5
             5             57     6161    183639.5
             6             56     1642    237148.0
             8             58     2711   1416110.0
...                       ...      ...         ...
BSP-SR-309-5 75            55      972  29253151.5
             76            51     2378  29258718.5
             78            39      993  29279650.5
             80            31      500  30239235.5
             83            64     1204  30387887.5

[54766 rows x 3 columns]

In [24]:
data[(data.blk_size < 50) & (data.blk_len > 10000)]

                     blk_size  blk_len     blk_loc
chrom_id     blk_id
BSP-OR-001-3 7             24    10663    494072.5
             26            31    16716  19671741.0
BSP-OR-001-5 13            24    10291   5141102.5
             83            29    10984  26118791.5
             100           40    19148  28108076.0
...                       ...      ...         ...
BSP-SR-307-5 26            40    20898  28109955.0
BSP-SR-309-2 16            40    29546   2805092.0
             42            40    16136  14758145.0
BSP-SR-309-5 57            33    13588  26253727.0
             68            38    16632  28105689.0

[1986 rows x 3 columns]