# Postprocessing Steps

Testing code for the function that looks for NCOs in filtered blocks

In [2]:
import pandas as pd
import numpy as np

In [3]:
def load_data(fn):
    df = pd.read_csv(fn)
    res = []
    groups = df.groupby('chrom_id')
    for chr_id, chr in groups:
        for blk_id, blk in chr.groupby('blk_id'):
            res.append(blk)
    return res

In [4]:
blocks = load_data('../peaks.csv')

In [5]:
len(blocks)

76975

In [6]:
data = [len(b) for b in blocks]

In [7]:
len(data)

76975

In [8]:
import os

In [9]:
df = blocks[4]

In [10]:
s = {160, 161, 162, 163, 164, 165, 166, 167, 168, 169}

In [11]:
df[df.index.isin(s)]

,Unnamed: 0,Sample,chromosome,position,base_geno,hmm_state1,hmm_state2,reference,ref_reads,variant,var_reads,chrom_id,blk_id,background
160,68076,BSP-OR-001,3,88644,unknown,N2,N2,A,0,C,0,BSP-OR-001-3,4,CB4856
161,68077,BSP-OR-001,3,88646,unknown,N2,N2,A,0,C,0,BSP-OR-001-3,4,CB4856
162,68078,BSP-OR-001,3,88740,unknown,N2,N2,C,0,G,0,BSP-OR-001-3,4,CB4856
163,68079,BSP-OR-001,3,88741,unknown,N2,N2,C,0,A,0,BSP-OR-001-3,4,CB4856
164,68080,BSP-OR-001,3,88785,unknown,N2,N2,A,0,G,0,BSP-OR-001-3,4,CB4856
165,68081,BSP-OR-001,3,88786,unknown,N2,N2,T,0,A,0,BSP-OR-001-3,4,CB4856
166,68082,BSP-OR-001,3,88830,N2,N2,N2,C,4,G,0,BSP-OR-001-3,4,CB4856
167,68083,BSP-OR-001,3,88850,N2,N2,N2,G,4,C,0,BSP-OR-001-3,4,CB4856
168,68084,BSP-OR-001,3,88851,unknown,N2,N2,C,0,G,0,BSP-OR-001-3,4,CB4856
169,68085,BSP-OR-001,3,88854,N2,N2,N2,G,4,A,0,BSP-OR-001-3,4,CB4856

In [12]:
df[df.index.isin(s) & (df.base_geno == df.hmm_state1)]

,Unnamed: 0,Sample,chromosome,position,base_geno,hmm_state1,hmm_state2,reference,ref_reads,variant,var_reads,chrom_id,blk_id,background
166,68082,BSP-OR-001,3,88830,N2,N2,N2,C,4,G,0,BSP-OR-001-3,4,CB4856
167,68083,BSP-OR-001,3,88850,N2,N2,N2,G,4,C,0,BSP-OR-001-3,4,CB4856
169,68085,BSP-OR-001,3,88854,N2,N2,N2,G,4,A,0,BSP-OR-001-3,4,CB4856

In [13]:
s2 = set(s)

In [14]:
s2 &= set(df[df.index.isin(s) & (df.base_geno == df.hmm_state1)].index)

In [15]:
s2

{166, 167, 169}

In [22]:
chr = blks[5]

NameError: name 'blks' is not defined

In [23]:
chr.head()

,Unnamed: 0,Sample,chromosome,position,base_geno,hmm_state1,hmm_state2,reference,ref_reads,variant,var_reads,chrom_id,blk_id,background
145,68061,BSP-OR-001,3,88497,unknown,N2,unknown,C,0,G,0,BSP-OR-001-3,4,CB4856
146,68062,BSP-OR-001,3,88552,unknown,N2,unknown,A,0,T,0,BSP-OR-001-3,4,CB4856
147,68063,BSP-OR-001,3,88553,unknown,N2,unknown,T,0,A,0,BSP-OR-001-3,4,CB4856
148,68064,BSP-OR-001,3,88558,unknown,N2,unknown,T,0,A,0,BSP-OR-001-3,4,CB4856
149,68065,BSP-OR-001,3,88571,unknown,N2,unknown,T,0,A,0,BSP-OR-001-3,4,CB4856

In [24]:
len(chr)

49

In [25]:
np.nan

nan

In [26]:
hzi = pd.Series(np.nan, index=chr.index)

In [27]:
len(hzi)

49

In [28]:
chr.ref_reads / (chr.ref_reads + chr.var_reads)

145         NaN
146         NaN
147         NaN
148         NaN
149         NaN
150         NaN
151    1.000000
152         NaN
153    1.000000
154    1.000000
155         NaN
156         NaN
157         NaN
158         NaN
159         NaN
160         NaN
161         NaN
162         NaN
163         NaN
164         NaN
165         NaN
166    1.000000
167    1.000000
168         NaN
169    1.000000
170    0.500000
171    0.571429
172    1.000000
173         NaN
174         NaN
175         NaN
176         NaN
177         NaN
178         NaN
179    1.000000
180    0.400000
181    0.625000
182    0.600000
183    0.615385
184    0.615385
185    0.571429
186    0.600000
187    0.611111
188    0.666667
189    0.764706
190    0.764706
191         NaN
192         NaN
193         NaN
dtype: float64

In [29]:
s = pd.Series(np.random.randn(10))