# Postprocessing Steps

Testing code for the function that looks for NCOs in filtered blocks

In [2]:
import pandas as pd
import numpy as np

In [3]:
def load_data(fn):
    df = pd.read_csv(fn)
    res = []
    groups = df.groupby('chrom_id')
    for chr_id, chr in groups:
        for blk_id, blk in chr.groupby('blk_id'):
            res.append(blk)
    return res

In [4]:
blocks = load_data('../peaks.csv')

In [5]:
len(blocks)

76975

In [6]:
data = [len(b) for b in blocks]

In [7]:
len(data)

76975

In [8]:
import os

In [9]:
df = blocks[4]

In [10]:
s = {160, 161, 162, 163, 164, 165, 166, 167, 168, 169}

In [11]:
df[df.index.isin(s)]

,Unnamed: 0,Sample,chromosome,position,base_geno,hmm_state1,hmm_state2,reference,ref_reads,variant,var_reads,chrom_id,blk_id,background
160,68076,BSP-OR-001,3,88644,unknown,N2,N2,A,0,C,0,BSP-OR-001-3,4,CB4856
161,68077,BSP-OR-001,3,88646,unknown,N2,N2,A,0,C,0,BSP-OR-001-3,4,CB4856
162,68078,BSP-OR-001,3,88740,unknown,N2,N2,C,0,G,0,BSP-OR-001-3,4,CB4856
163,68079,BSP-OR-001,3,88741,unknown,N2,N2,C,0,A,0,BSP-OR-001-3,4,CB4856
164,68080,BSP-OR-001,3,88785,unknown,N2,N2,A,0,G,0,BSP-OR-001-3,4,CB4856
165,68081,BSP-OR-001,3,88786,unknown,N2,N2,T,0,A,0,BSP-OR-001-3,4,CB4856
166,68082,BSP-OR-001,3,88830,N2,N2,N2,C,4,G,0,BSP-OR-001-3,4,CB4856
167,68083,BSP-OR-001,3,88850,N2,N2,N2,G,4,C,0,BSP-OR-001-3,4,CB4856
168,68084,BSP-OR-001,3,88851,unknown,N2,N2,C,0,G,0,BSP-OR-001-3,4,CB4856
169,68085,BSP-OR-001,3,88854,N2,N2,N2,G,4,A,0,BSP-OR-001-3,4,CB4856

In [12]:
df[df.index.isin(s) & (df.base_geno == df.hmm_state1)]

,Unnamed: 0,Sample,chromosome,position,base_geno,hmm_state1,hmm_state2,reference,ref_reads,variant,var_reads,chrom_id,blk_id,background
166,68082,BSP-OR-001,3,88830,N2,N2,N2,C,4,G,0,BSP-OR-001-3,4,CB4856
167,68083,BSP-OR-001,3,88850,N2,N2,N2,G,4,C,0,BSP-OR-001-3,4,CB4856
169,68085,BSP-OR-001,3,88854,N2,N2,N2,G,4,A,0,BSP-OR-001-3,4,CB4856

In [13]:
s2 = set(s)

In [14]:
s2 &= set(df[df.index.isin(s) & (df.base_geno == df.hmm_state1)].index)

In [15]:
s2

{166, 167, 169}

In [37]:
chr = blocks[5]

In [38]:
chr.head()

,Unnamed: 0,Sample,chromosome,position,base_geno,hmm_state1,hmm_state2,reference,ref_reads,variant,var_reads,chrom_id,blk_id,background
194,68475,BSP-OR-001,3,118319,unknown,N2,unknown,G,0,T,0,BSP-OR-001-3,5,CB4856
195,68476,BSP-OR-001,3,118329,N2,N2,N2,G,17,A,0,BSP-OR-001-3,5,CB4856
196,68477,BSP-OR-001,3,118331,unknown,N2,N2,G,0,A,0,BSP-OR-001-3,5,CB4856
197,68478,BSP-OR-001,3,118337,unknown,N2,N2,A,0,T,0,BSP-OR-001-3,5,CB4856
198,68479,BSP-OR-001,3,118374,N2,N2,N2,T,15,C,0,BSP-OR-001-3,5,CB4856

In [39]:
len(chr)

57

In [40]:
np.nan

nan

In [41]:
hzi = pd.Series(np.nan, index=chr.index)

In [42]:
len(hzi)

57

In [43]:
chr.ref_reads / (chr.ref_reads + chr.var_reads)

194         NaN
195    1.000000
196         NaN
197         NaN
198    1.000000
199    1.000000
200    1.000000
201    1.000000
202    1.000000
203         NaN
204         NaN
205         NaN
206         NaN
207         NaN
208         NaN
209    1.000000
210    1.000000
211    1.000000
212    0.909091
213    0.909091
214    0.909091
215    0.913043
216    0.807692
217    0.814815
218    0.800000
219    0.722222
220    0.666667
221    0.631579
222    0.588235
223    0.562500
224    1.000000
225         NaN
226         NaN
227    1.000000
228    1.000000
229    1.000000
230    1.000000
231    1.000000
232    1.000000
233    1.000000
234    1.000000
235    1.000000
236    1.000000
237    1.000000
238    1.000000
239    0.736842
240    0.761905
241    0.785714
242    0.785714
243    0.857143
244    0.875000
245    0.875000
246    0.875000
247    0.875000
248    1.000000
249         NaN
250         NaN
dtype: float64

In [44]:
s = pd.Series(np.random.randn(10))

In [45]:
s

0   -0.458305
1    0.214894
2    0.294326
3    0.366393
4    1.794999
5    1.425176
6    0.646878
7   -0.389490
8   -0.612425
9    0.523397
dtype: float64

In [46]:
s.where(s > 0, 0)

0    0.000000
1    0.214894
2    0.294326
3    0.366393
4    1.794999
5    1.425176
6    0.646878
7    0.000000
8    0.000000
9    0.523397
dtype: float64

The command line app (`xo post`) saves a frame that can be grouped by chromosome and block ID to get the set of NCOs.

In [50]:
df = pd.read_csv('../ncos.csv')

In [51]:
df.head()

,Unnamed: 0,SNP,Sample,chromosome,position,base_geno,hmm_state1,hmm_state2,reference,ref_reads,variant,var_reads,chrom_id,blk_id,background,chr_length,location,homozygosity
0,185,68101,BSP-OR-001,3,89433,N2,N2,N2,C,8,T,6,BSP-OR-001-3,4,N2,13819453,0.006472,0.571429
1,186,68102,BSP-OR-001,3,89440,N2,N2,N2,C,9,A,6,BSP-OR-001-3,4,N2,13819453,0.006472,0.600000
2,300,69188,BSP-OR-001,3,158342,N2,N2,N2,G,19,A,16,BSP-OR-001-3,6,N2,13819453,0.011458,0.542857
3,301,69189,BSP-OR-001,3,158345,N2,N2,N2,G,19,A,16,BSP-OR-001-3,6,N2,13819453,0.011458,0.542857
4,302,69190,BSP-OR-001,3,158387,unknown,N2,N2,T,25,C,19,BSP-OR-001-3,6,N2,13819453,0.011461,0.568182

In [53]:
ncos = df.groupby(['chrom_id','blk_id'])

To iterate over all NCOs:

In [57]:
# for name, group in ncos:
#    print(name)              <- index, e.g. ('BSP-OR-001-3', 4)
#    print(group)             <- the group itself, as a frame

To get a single group:

In [58]:
ncos.get_group(('BSP-OR-001-3',4))

,Unnamed: 0,SNP,Sample,chromosome,position,base_geno,hmm_state1,hmm_state2,reference,ref_reads,variant,var_reads,chrom_id,blk_id,background,chr_length,location,homozygosity
0,185,68101,BSP-OR-001,3,89433,N2,N2,N2,C,8,T,6,BSP-OR-001-3,4,N2,13819453,0.006472,0.571429
1,186,68102,BSP-OR-001,3,89440,N2,N2,N2,C,9,A,6,BSP-OR-001-3,4,N2,13819453,0.006472,0.600000

To apply an aggregation function select a column, call the function:

In [60]:
ncos.SNP.count()

chrom_id      blk_id
BSP-OR-001-3  4          2
              6          5
              10         6
              11         3
              14        17
                        ..
BSP-OR-001-5  128        3
              129       10
              131        2
              133       20
              136        4
Name: SNP, Length: 76, dtype: int64

In [61]:
ncos.SNP.count().mean()

np.float64(10.657894736842104)